name: update
on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"
jobs:
  update:
    name: update data
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@master
      - name: set output
        id: vars
        run: echo ::set-output name=tag::$(git rev-parse --short HEAD)
      - name: create job
        uses: steebchen/kubectl@v1.1.0
        env:
          KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
          KUBECTL_VERSION: "1.20"
        with:
          args: create job --context ${{ secrets.KUBE_CONTEXT }} --from=cronjob/automation automation-action-${{ steps.vars.outputs.tag }}
